# All output target folders
**/target/*
target/*

# Eclipse
.project
.classpath

# maven bin folders
**/bin/*

# temp tomcat server folders
**/tomcat/*

# GWT temps
**/gwt-unitCache/*
gwt-unitCache/
# Any eclipse settings files
**/.settings/*

# ignore neo4j database files
**/neo4j/*

# Compiled classes folders
**/classes/*

runpartner-web-site/.project
.settings/
